#nodelist {
	background-color: yellow;
	display: block;
	text-align: center;
}
#maincanvas {
	display:table-cell;
}
#mainplate {
	background-color: #aaaaaa;
	overflow: visible;
	display:table-row;
}
#mw-content-text {
	display: table;
}
#ide_console {
	background-color: black;
	color: white;
	display:table-row;
	height: 250px;
	overflow-y:scroll;
	vertical-align: top;
}
#ide_export {
	width: 800px;
	vertical-align: top;
	display:table-cell;
	background-color: blueviolet;
	overflow-y:scroll;
}